body{
    background-color: #e9e8df;
}


table tr, th, td, caption{
    border: 1px solid #3b3931; 
    font-family: helvetica;
    border-collapse: collapse;
    padding: 0.5rem;

}

a {
    color: #7e5539;
}

a:visited {
    color: #7E769C;
}

a:hover, a:active {
color: #96869C;
}